<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>7-2</title>

  <style>
    /* body {
      font-family: sans-serif;
    }

    table, th, td {
      border: 1px solid black;
      border-radius: 10px;
    } */

    /* Mau coba murni HTML 🤔 */

    /* Satu aja, wkwk */
    img {
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div id="aplikasi">
    <form @submit.prevent="kirimFormulir">
      <div v-if="erorEror.length">
        <p><i>Mohon benarkan kesalahan berikut:</i></p>
        <ul>
          <li v-for="eror in erorEror"><i>{{ eror }}</i></li>
        </ul>
      </div>

      <label for="nama-anggota">Nama:</label>
      <br>
      <input type="text" id="nama-anggota" v-model="nama" ref="nama" :disabled="mode == 'mengunggah'">
      <br>
      <label for="alamat-anggota">Alamat:</label>
      <br>
      <textarea id="alamat-anggota" v-model="alamat" ref="alamat" :disabled="mode == 'mengunggah'"></textarea>
      <br>
      <label for="nomor-ponsel">Nomor ponsel:</label>
      <br>
      <input type="tel" id="nomor-ponsel" v-model="nomorPonsel" ref="nomorPonsel" :disabled="mode == 'mengunggah'">
      <br><br>

      <div v-if="mode == 'mendaftar'">
        <input type="submit" value="Kirim">
      </div>
      <div v-else-if="mode == 'menyunting'">
        <input type="button" value="Mutakhirkan" @click="mutakhirkanAnggota(idSunting)">
        <input type="button" value="Batal" @click="setUlangKeadaan">
      </div>
      <div v-else-if="mode == 'mengunggah'">
        <input type="file" ref="foto">
        <br><br>
        <input type="button" value="Unggah" @click="kirimFoto(idUnggah)">
        <input type="button" value="Batal" @click="setUlangKeadaan">
      </div>
    </form>
    <br>

    <table border="1">
      <tr>
        <th>Foto</th>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Nomor ponsel</th>
        <th>🔥</th>
      </tr>
      <tr v-for="anggota of anggotaAnggota">
        <td>
          <img :src="anggota.photo_profile ? urlDasar + anggota.photo_profile : gambarSulih" :alt="anggota.name" width="100" height="100">
        </td>
        <td>{{ anggota.name }}</td>
        <td>{{ anggota.address }}</td>
        <td>{{ anggota.no_hp }}</td>
        <td>
          <button @click="modeMenyunting(anggota)">Sunting …</button>
          <br><br>
          <button @click="modeMengunggah(anggota)">Unggah foto</button>
          <br><br>
          <button @click="hapusAnggota(anggota.id)">Hapus(!)</button>
          <br><br>
        </td>
      </tr>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const vm = new Vue({
      el: '#aplikasi',
      data: {
        nama: '',
        alamat: '',
        nomorPonsel: '',
        erorEror: [],
        anggotaAnggota: [],
        urlDasar: 'https://demo-api-vue.sanbercloud.com',
        // Tidak pakai baseURL axios karena <img> juga butuh
        gambarSulih: 'https://placehold.jp/200/808080/ffffff/300x300.jpg?text=%3F',
        mode: 'mendaftar',
        idSunting: null,
        idUnggah: null,
      },
      methods: {
        dapatkanAnggotaAnggota() {
          const konfigurasi = {
            method: 'get',
            url: `${this.urlDasar}/api/member`,
          }

          axios(konfigurasi)
              .then(respons => {
                this.anggotaAnggota = respons.data.members
              })
              .catch(eror => {
                console.log(eror)
              })
        },
        validasiFormulir() {
          this.erorEror = []

          if (this.nama.length < 1) {
            this.erorEror.push('Nama minimal 1 karakter~')

            this.$refs.nama.focus()
          }

          if (this.alamat.length < 1) {
            this.erorEror.push('Alamat minimal 1 karakter~')

            this.$refs.alamat.focus()
          }

          if (this.alamat.length > 20) {
            this.erorEror.push('Alamat maksimal 20 karakter~')

            this.$refs.alamat.focus()
          }

          if (this.nomorPonsel.length < 9) {
            this.erorEror.push('Nomor ponsel minimal 9 karakter~')

            this.$refs.nomorPonsel.focus()
          }

          if (this.nomorPonsel.length > 14) {
            this.erorEror.push('Nomor ponsel maksimal 14 karakter~')

            this.$refs.nomorPonsel.focus()
          }
        },
        setUlangKeadaan() {
          this.nama = ''
          this.alamat = ''
          this.nomorPonsel = ''

          this.mode = 'mendaftar'

          this.idSunting = null
          this.idUnggah = null
        },
        kirimFormulir() {
          this.validasiFormulir()

          if (this.erorEror.length === 0) {
            const dataFormulir = new FormData()

            dataFormulir.append('name', this.nama)
            dataFormulir.append('address', this.alamat)
            dataFormulir.append('no_hp', this.nomorPonsel)

            const konfigurasi = {
              method: 'post',
              url: `${this.urlDasar}/api/member`,
              data: dataFormulir,
            }

            axios(konfigurasi)
                .then(respons => {
                  this.setUlangKeadaan()
                  this.dapatkanAnggotaAnggota()

                  const pesan = respons.data.message + '~'

                  alert(pesan.toUpperCase())
                })
                .catch(eror => {
                  console.log(eror)
                })
          }
        },
        modeMenyunting(anggota) {
          this.$refs.nama.focus()

          this.nama = anggota.name
          this.alamat = anggota.address
          this.nomorPonsel = anggota.no_hp

          this.mode = 'menyunting'

          this.idSunting = anggota.id
        },
        mutakhirkanAnggota(id) {
          this.validasiFormulir()

          if (this.erorEror.length === 0) {
            const dataFormulir = new FormData()

            dataFormulir.append('name', this.nama)
            dataFormulir.append('address', this.alamat)
            dataFormulir.append('no_hp', this.nomorPonsel)

            const konfigurasi = {
              method: 'post',
              url: `${this.urlDasar}/api/member/${id}`,
              params: {_method: 'PUT'},
              data: dataFormulir,
            }

            axios(konfigurasi)
                .then(respons => {
                  this.setUlangKeadaan()
                  this.dapatkanAnggotaAnggota()

                  const pesan = respons.data.message + '~'

                  alert(pesan.toUpperCase())
                })
                .catch(eror => {
                  console.log(eror)
                })
          }
        },
        modeMengunggah(anggota) {
          this.$refs.nama.focus() // Gulir ke atas … (!fokus ke <input type="file">)

          this.nama = anggota.name
          this.alamat = anggota.address
          this.nomorPonsel = anggota.no_hp

          this.mode = 'mengunggah'

          this.idUnggah = anggota.id
        },
        kirimFoto(id) {
          const fail = this.$refs.foto.files[0]

          const dataFormulir = new FormData()

          dataFormulir.append('photo_profile', fail)

          const konfigurasi = {
            method: 'post',
            url: `${this.urlDasar}/api/member/${id}/upload-photo-profile`,
            data: dataFormulir,
          }

          axios(konfigurasi)
              .then(respons => {
                this.setUlangKeadaan()
                this.dapatkanAnggotaAnggota()

                const pesan = respons.data.message + '~'

                alert(pesan.toUpperCase())
              })
              .catch(eror => {
                console.log(eror)
              })
        },
        hapusAnggota(id) {
          if (confirm('Anda yakin?')) {
            const konfigurasi = {
              method: 'post',
              url: `${this.urlDasar}/api/member/${id}`,
              params: {_method: 'DELETE'},
            }

            axios(konfigurasi)
                .then(respons => {
                  this.dapatkanAnggotaAnggota()

                  const pesan = respons.data.message + '~'

                  alert(pesan.toUpperCase())
                })
                .catch(eror => {
                  console.log(eror)
                })
          }
        },
      },
      created() {
        this.dapatkanAnggotaAnggota()
      }
    })
  </script>
</body>
</html>
