<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>7-1</title>
</head>
<body>
  <div id="aplikasi">
    <input type="text" placeholder="Tikkan kata kunci" v-model.trim="kataKunci">
    <ul>
      <li v-for="buku in bukuBukuTersaring">{{ buku }}</li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#aplikasi',
      data: {
        books: [
          'Kalkulus Dasar',
          'Fisika Dasar',
          'Aljabar Linear Elementer',
          'Aljabar Abstrak',
          'Algoritma Pemrograman',
        ],
        kataKunci: '',
      },
      computed: {
        bukuBukuTersaring() {
          return this.books.filter(titel => {
            return titel.toLowerCase().includes(this.kataKunci.toLowerCase())
            // 📝 https://stackoverflow.com/a/51596290
          })
        },
      },
    })
  </script>
</body>
</html>
