<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="teksMasukan">
    <button v-if="!mengedit" @click="tambahPengguna">Add</button>
    <button v-else-if="mengedit" @click="mutakhirkanPengguna">Update</button>

    <ul>
      <li v-for="(user, index) in users" style="margin-bottom: 1em;">
        <span style="margin-right: 1em;">{{ user.name }}</span>
        <button @click="editPengguna(index)">Edit</button>
        <span>||</span>
        <button @click="hapusPengguna(index)">Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        users: [
          {
            'name': 'Muhammad Iqbal Mubarok',
          },
          {
            'name': 'Ruby Purwanti',
          },
          {
            'name': 'Faqih Muhammad',
          },
        ],
        teksMasukan: '',
        mengedit: false,
        indeksMasukan: 0,
      },
      methods: {
        tambahPengguna() {
          this.users.push({'name': this.teksMasukan})
          this.teksMasukan = ''
        },
        editPengguna(index) {
          this.teksMasukan = this.users[index].name
          this.indeksMasukan = index
          this.mengedit = true
        },
        mutakhirkanPengguna() {
          this.users[this.indeksMasukan].name = this.teksMasukan
          this.teksMasukan = ''
          this.indeksMasukan = 0
          this.mengedit = false
        },
        hapusPengguna(index) {
          if (confirm('Anda yakin?')) this.users.splice(index, 1)
        },
      },
    })
  </script>
</body>
</html>
